$max-width: 1500px;
$gutter: 30px;

$font-family-heading: 'Open Sans', georgia, serif;
$font-family-main: 'Open Sans', sans-serif, helvetica, arial;
$font-size: 16px;
$heading-size: 32px;

$transition: 250ms ease-in-out;

$color-lightgray: #e0e0e0;
$color-gray: #afafaf;

$color-light1: #f3f7f8;
$color-light2: #dae7ea;
$color-dark1: #7f7f7f;
$color-dark2: #588f9a;
$color-dark3: #0c1416;
